//переменные цветов
$white-color: #ffffff;
$black-color: #000000;
$pale-grey: #f5edef;
$lipstick-color: #e62128;
$pig-pink-color: #f5c9cb;
$beauty-bush-color: #f1c2c4;
$light-pink: #fff3f5;

$font: "Roboto", sans-serif;

$media-1860: 1860px;
$media-max: 1500px;
$media-md: 1399px;
$media-1320: 1320px;
$media-1200: 1200px;
$media-1110: 1110px;
$media-1024: 1024px;
$media-sd: 999px;
$media-tb: 767px;
$media-s: 374px;
$media-xs: 747px;
$screen-lg: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
